<ul id="search-results">
	<% if @companies.any? %>
		<% @companies.each do |company| %>
			<li data-id="<%= company.id %>" class="result">
				<p class="name"><%= company.name %></p>
				<p class="phone"><%= company.phone %></p>
				<p class="address"><%= company.address %></p>
				<p class="tags">
					<%= company.segments %>
					<%= " [#{company.products}]" unless company.products.blank? %>
				</p>
			</li>
		<% end %>
	<% else %>
		<li data-id="0" id="none-companies">
				<p class="title">Nenhuma empresa foi encontrada.</p>
				<p class="instructions">
					Por favor, verifique os termos digitados e tente novamente. Caso a empresa que procura não esteja cadastrada, envie-nos um e-mail e iremos cadastrá-la para você:
					<a href="mailto:fale-com@sirva.me" title="Envie-nos um e-mail. Ficaremos felizes!">fale-com@sirva.me</a>
				</p>
		</li>
	<% end %>
</ul>